[env]
MEASUREMENTS_ENDPOINT = "http://192.168.132.120:5000/api/measurements"

[tasks.outdated]
command = "cargo"
args = [
  # run `cargo upgrade --dry-run` to check versions defined in [workspace.dependencies]
  "outdated",
  "-w",
  "--root-deps-only",
]
workspace = false

[tasks.test]
command = "cargo"
args = [
  "test",
  "--target=x86_64-unknown-linux-gnu",
  "-p",
  "tests",
  "--",
  "--nocapture",
]
workspace = false

[tasks.test-player]
command = "cargo"
args = [
  "test",
  "--target=x86_64-unknown-linux-gnu",
  "-p",
  "tests",
  "--test",
  "test-player",
  "--",
  "--nocapture",
]
workspace = false

[tasks.test-game]
command = "cargo"
args = [
  "test",
  "--target=x86_64-unknown-linux-gnu",
  "-p",
  "tests",
  "--test",
  "test-game",
  "--",
  "--nocapture",
]
workspace = false

[tasks.fmt]
command = "cargo"
args = ["fmt"]
workspace = false

[tasks.fmt-server]
command = "cargo"
args = ["fmt", "--manifest-path", "./axum-server/Cargo.toml"]
workspace = false

[tasks.build-all]
env_files = ["./hub.env"]
command = "cargo"
args = ["build", "--all"]
workspace = false

[tasks.run]
env_files = ["./hub.env"]
command = "cargo"
args = ["run", "--release"]
workspace = false

[tasks.build-temperature]
env_files = ["./hub.env"]
command = "cargo"
args = ["build", "--all", "--features", "temperature"]
workspace = false

[tasks.run-temperature]
env_files = ["./hub.env"]
command = "cargo"
args = ["run", "--release", "--features", "temperature"]
workspace = false

[tasks.install-frontend-deps]
command = "npm"
args = ["--prefix", "axum-server/measurements-frontend/", "install"]
workspace = false

[tasks.fmt-frontend]
command = "npm"
args = ["--prefix", "axum-server/measurements-frontend/", "run", "format"]
workspace = false

[tasks.build-frontend]
command = "npm"
args = ["--prefix", "axum-server/measurements-frontend/", "run", "build"]
workspace = false

[tasks.stage-frontend]
dependencies = ["install-frontend-deps", "build-frontend"]
command = "cp"
args = [
  "-R",
  "axum-server/measurements-frontend/dist/.",
  "axum-server/static-content/",
]
workspace = false

[tasks.build-server]
env_files = ["./hub.env"]
command = "cargo"
args = [
  "build",
  "--manifest-path",
  "./axum-server/Cargo.toml",
  "--target=x86_64-unknown-linux-gnu",
]
workspace = false

[tasks.build-server-image]
env_files = ["./hub.env"]
dependencies = ["stage-frontend"]
command = "podman"
args = [
  "compose",
  "-f",
  "${CARGO_MAKE_WORKING_DIRECTORY}/axum-server/docker-compose.yaml",
  "build",
]
workspace = false

[tasks.run-server]
command = "podman"
args = [
  "compose",
  "-f",
  "${CARGO_MAKE_WORKING_DIRECTORY}/axum-server/docker-compose.yaml",
  "up",
  "--force-recreate",
  "-d",
]
workspace = false

[tasks.clippy-server]
env_files = ["./hub.env"]
command = "cargo"
args = [
  "clippy",
  "--manifest-path",
  "./axum-server/Cargo.toml",
  "--target=x86_64-unknown-linux-gnu",
  "--all",
]
workspace = false

[tasks.clippy-all]
env_files = ["./hub.env"]
command = "cargo"
args = ["clippy", "--all"]
workspace = false

[tasks.clippy-temperature]
env_files = ["./hub.env"]
command = "cargo"
args = ["clippy", "--all", "--features", "temperature"]
workspace = false

[tasks.clippy]
env_files = ["./hub.env"]
dependencies = ["clippy-all", "clippy-temperature"]
workspace = false

[tasks.ci-check]
dependencies = [
  "fmt",
  "fmt-server",
  "build-all",
  "build-temperature",
  "build-server",
  "clippy-all",
  "clippy-temperature",
  "clippy-server",
  "fmt-frontend",
  "build-frontend",
]
workspace = false
